.modal-container {
  width: 60vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: #003b5d;
}

.modal-title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  padding: 10px;
}

.modal-title button {
  color: #fff;
  height: 30px;
  width: 30px;
  outline: none;
  border: 0;
  background-color: transparent;
  font-weight: bold;
}

.modal-title button:hover {
  cursor: pointer;
  color: #00baef;
}

.modal-table {
  display: flex;
  justify-content: center;
  background-color: #003b5d;
  overflow: auto;
}

table {
  width: 100%;
  height: 90%;
  padding: 0 5px 10px 10px !important;
  background-color: #003b5d !important;
}

tbody tr {
  height: 71px !important;
  padding: 10px !important;
}

th,
td {
  padding: 12px;
  text-align: center;
}

th {
  background-color: #003b5d !important;
  color: #fff;
}

td {
  background-color: #fff;
}

tbody tr:hover {
  background-color: rgba(0, 186, 239, 0.3);
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #00baef;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #003b5d; 
}

thead .mat-column-tv {
  font-size: 25px;
  font-weight: bold;  
  padding-left: 25px;
}

thead .mat-column-plan1,thead .mat-column-plan2,thead .mat-column-plan3,thead .mat-column-plan4 {
  font-size: 13px;
  font-weight: bold; 
  text-align: center; 
  width: 125px;
  padding: 0 12px 0 12px !important;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
  letter-spacing: 1px;
}

tbody .mat-column-tv {
  display: flex;
  align-items: center;
  padding-left: 40px;
  height: 100%;
  color: #fff;
}

tbody .mat-column-tv span {
  font-size: 15px;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial;
  letter-spacing: 1px;
}

tbody .mat-column-tv img {
  margin-right: 40px;
  height: 58px;
  padding: 3px 0;
}

tbody .mat-column-plan1,tbody .mat-column-plan2,tbody .mat-column-plan3,tbody .mat-column-plan4 {
  text-align: center;
  font-size: 20px;
}