<div class="modal-container">
  <div class="modal-title">
    <button mat-button mat-dialog-close>
      <span class="material-symbols-outlined">
        close
      </span>
    </button>
  </div>
  <div class="modal-table">
    <table mat-table [dataSource]="tableData">
      <ng-container matColumnDef="tv">
        <th mat-header-cell *matHeaderCellDef> Порівняти телеканали </th>
        <td mat-cell *matCellDef="let row">
          <img [src]="row.tv.photo" alt="Photo">
          <span>{{ row.tv.name }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="plan1">
        <th mat-header-cell *matHeaderCellDef>
          <span class="plan-name"> Безкоштовний </span>
          <span class="plan-channels"> 36 </span>
        </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.plan1 ? '#0ed145' : 'grey'">
          <span class="material-symbols-outlined">
            radio_button_checked
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="plan2">
        <th mat-header-cell *matHeaderCellDef>
          <span class="plan-name"> Базовий </span>
          <span class="plan-channels"> 203 </span>
        </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.plan2 ? '#0ed145' : 'grey'">
          <span class="material-symbols-outlined">
            radio_button_checked
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="plan3">
        <th mat-header-cell *matHeaderCellDef>
          <span class="plan-name"> Стандарт+HD </span>
          <span class="plan-channels"> 278 </span>
        </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.plan3 ? '#0ed145' : 'grey'">
          <span class="material-symbols-outlined">
            radio_button_checked
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="plan4">
        <th mat-header-cell *matHeaderCellDef>
          <span class="plan-name"> Максимум+HD </span>
          <span class="plan-channels"> 297 </span>
        </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.plan4 ? '#0ed145' : 'grey'">
          <span class="material-symbols-outlined">
            radio_button_checked
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['tv', 'plan1', 'plan2', 'plan3', 'plan4']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['tv', 'plan1', 'plan2', 'plan3', 'plan4']"></tr>
    </table>
  </div>
  <div class="mobile-table">
    <div class="mobile-table-header">
      <h2 class="mobile-table-title">Порівняти телеканали</h2>
      <div class="mobile-table-title-body">
        <div class="plan-block" *ngFor="let row of plansData">
          <h2>{{ this.mobileView ? row.shortName : row.name }}</h2>
          <span>{{ row.channels }}</span>
        </div>
      </div>
    </div>
    <div class="mobile-table-body">
      <div class="mobile-body-row" *ngFor="let row of tableData">
        <div class="row-name">
          <img [src]="row.tv.photo" alt="Photo">
          <span>{{ row.tv.name }}</span>
        </div>
        <div class="row-radio">
          <span class="material-symbols-outlined" [style.color]="row.plan1 ? '#0ed145' : 'grey'">
            radio_button_checked
          </span>
          <span class="material-symbols-outlined" [style.color]="row.plan2 ? '#0ed145' : 'grey'">
            radio_button_checked
          </span>
          <span class="material-symbols-outlined" [style.color]="row.plan3 ? '#0ed145' : 'grey'">
            radio_button_checked
          </span>
          <span class="material-symbols-outlined" [style.color]="row.plan4 ? '#0ed145' : 'grey'">
            radio_button_checked
          </span>
        </div>
      </div>
    </div>
  </div>
</div>