<div class="about-container" id="about">
    <div class="about-block">
        <div class="about-center-block">
            <!-- <div class="about-title">
                <h1>Про нас</h1>
            </div> -->
            <div class="about-text">
                <h1 class="company-name">IPLINK</h1>
                <p class="description"> 
                    Це провайдер інтернет-послуг, який визначається надійністю, високою швидкістю та передовими технологіями. 
                </p>
                <p class="description">
                    Наша мережа охоплює велику частину Львова, гарантуючи стабільне та безперебійне підключення до Інтернету. 
                </p>
                <p class="description">
                    Ми прагнемо простоти та зручності для наших клієнтів, пропонуючи прозору систему ціноутворення та дружелюбний сервіс.
                </p>
            </div>
        </div>
    </div>
</div>