<div class="tv-container">
    <div class="tv-title-block">
        <p>Спільно з партнером <b>TRINITY-TV</b> пропонуємо нашим абонентам <br>послугу з підключення до OTT
            телебачення.</p>
    </div>
    <div class="tv-plans-block">
        <div class="tv-plan-card">
            <div class="tv-card-title">
                <h3 class="plan-name">Тариф "Безкоштовний"</h3>
                <div class="price"><b>0</b> <span>грн/місяць</span></div>
            </div>
            <div class="plan-details">
                <p class="channels">Для всіх наших абонентів!</p>
            </div>
            <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
        </div>
        <div class="tv-plan-card">
            <div class="tv-card-title">
                <h3 class="plan-name">Тариф "Базовий"</h3>
                <div class="price"><b>99</b> <span>грн/місяць</span></div>
            </div>
            <div class="plan-details">
                <p class="channels"><b>174</b> каналів + <b>3500</b> фільмів, мультфільмів та культових серіалів</p>
            </div>
            <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
        </div>
        <div class="tv-plan-card">
            <div class="tv-card-title">
                <h3 class="plan-name">Тариф "Стандарт+HD"</h3>
                <div class="price"><b>129</b> <span>грн/місяць</span></div>
            </div>
            <div class="plan-details">
                <p class="channels"><b>240</b> каналів + <b>6300</b> фільмів, мультфільмів та культових серіалів</p>
            </div>
            <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
        </div>
        <div class="tv-plan-card">
            <div class="tv-card-title">
                <h3 class="plan-name">Тариф "Максимум+HD"</h3>
                <div class="price"><b>197</b> <span>грн/місяць</span></div>
            </div>
            <div class="plan-details">
                <p class="channels"><b>257</b> каналів (з них більше сотні в HD) + <b>13000</b> фільмів, мультфільмів та культових серіалів</p>
            </div>
            <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
        </div>
    </div>
    <div class="tv-footer-text">
        <p>Після першої активації телебачення в особистому кабінеті Ви отримаєте ДЕМО доступ <br>до всіх каналів
            терміном на один місяць за <b>1 грн</b>.</p>
    </div>
</div>