<div class="footer-container">
    <div class="footer-navbar">
        <div class="footer-logo">
            <a (click)="scrollTo('main')">
                <img src="../../../../assets/favicon-removebg.png" alt="Logo">
            </a>
        </div>
        <nav class="footer-menu">
            <ul>
                <li><a (click)="scrollTo('main')">Головна</a></li>
                <li><a (click)="scrollTo('about')">Про нас</a></li>
                <li><a (click)="scrollTo('plans')">Тарифи</a></li>
                <!-- <li><a href="#">Залишити заявку</a></li> -->
                <li><a (click)="scrollTo('contacts')">Контакти</a></li>
            </ul>
        </nav>
    </div>
    <div class="footer-title">
        <p>IPLINK 2023</p>
    </div>
</div>