<div class="plans-container" id="plans">
    <div class="plans-title">
        <p>Найкращі тарифи у Львові</p>
        <p>Підключай інтернет від <b>IPLINK</b> 
        та відчуй всі переваги швидкого та якісного інтернету!</p>
    </div>
    <div class="plans-cards-block">
        <div class="plan-card">
            <h2>План A</h2>
            <p>Швидкість: 100 Мбіт/с</p>
            <p>Обмеження трафіку: Немає</p>
            <p>Ціна: $29.99/місяць</p>
            <button>Обрати</button>
        </div>
        <div class="plan-card">
            <h2>План B</h2>
            <p>Швидкість: 250 Мбіт/с</p>
            <p>Обмеження трафіку: 500 ГБ</p>
            <p>Ціна: $39.99/місяць</p>
            <button>Обрати</button>
        </div>
        <div class="plan-card">
            <h2>План C</h2>
            <p>Швидкість: 500 Мбіт/с</p>
            <p>Обмеження трафіку: Немає</p>
            <p>Ціна: $49.99/місяць</p>
            <button>Обрати</button>
        </div>
        <div class="plan-card">
            <h2>План D</h2>
            <p>Швидкість: 1 Гбіт/с</p>
            <p>Обмеження трафіку: Немає</p>
            <p>Ціна: $59.99/місяць</p>
            <button>Обрати</button>
        </div>
        <div class="plan-card">
            <h2>План C</h2>
            <p>Швидкість: 500 Мбіт/с</p>
            <p>Обмеження трафіку: Немає</p>
            <p>Ціна: $49.99/місяць</p>
            <button>Обрати</button>
        </div>
        <div class="plan-card">
            <h2>План D</h2>
            <p>Швидкість: 1 Гбіт/с</p>
            <p>Обмеження трафіку: Немає</p>
            <p>Ціна: $59.99/місяць</p>
            <button>Обрати</button>
        </div>
    </div>
</div>