<div class="plans-container" id="plans">
    <div class="plans-title">
        <!-- <p>Найкращі тарифи у Львові</p> -->
        <p>Підключай інтернет від <b>IPLINK</b>
            та відчуй всі переваги швидкого та якісного інтернету!</p>
    </div>
    <mat-tab-group animationDuration="700ms" class="plans-body">
        <mat-tab label="Багатоквартирні будинки">
            <div class="internet-multi-apartment">
                <div class="tv-plan-card">
                    <div class="tv-card-title">
                        <div class="plan-name">
                            <h3>до 35 Мбіт/с</h3>
                        </div>
                        <div class="price"><b>100</b> <span>грн/місяць</span></div>
                    </div>
                    <div class="plan-details">
                        <p class="channels">Без обмежень по трафіку</p>
                    </div>
                    <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                </div>
                <div class="tv-plan-card">
                    <div class="tv-card-title">
                        <div class="plan-name">
                            <h3>до 50 Мбіт/с</h3>
                        </div>
                        <div class="price"><b>120</b> <span>грн/місяць</span></div>
                    </div>
                    <div class="plan-details">
                        <p class="channels">Без обмежень по трафіку</p>
                    </div>
                    <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                </div>
                <div class="tv-plan-card">
                    <div class="tv-card-title">
                        <div class="plan-name">
                            <h3>до 100 Мбіт/с</h3>
                        </div>
                        <div class="price"><b>150</b> <span>грн/місяць</span></div>
                    </div>
                    <div class="plan-details">
                        <p class="channels">Без обмежень по трафіку</p>
                    </div>
                    <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                </div>
                <div class="tv-plan-card">
                    <div class="tv-card-title">
                        <div class="plan-name">
                            <h3>до 200 Мбіт/с</h3>
                        </div>
                        <div class="price"><b>210</b> <span>грн/місяць</span></div>
                    </div>
                    <div class="plan-details">
                        <p class="channels">Без обмежень по трафіку</p>
                    </div>
                    <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                </div>
                <div class="tv-plan-card">
                    <div class="tv-card-title">
                        <div class="plan-name">
                            <h3>до 300 Мбіт/с</h3>
                        </div>
                        <div class="price"><b>290</b> <span>грн/місяць</span></div>
                    </div>
                    <div class="plan-details">
                        <p class="channels">Без обмежень по трафіку</p>
                    </div>
                    <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                </div>
                <div class="tv-plan-card">
                    <div class="tv-card-title">
                        <div class="plan-name">
                            <h3>до 1000 Мбіт/с</h3>
                        </div>
                        <div class="price"><b>390</b> <span>грн/місяць</span></div>
                    </div>
                    <div class="plan-details">
                        <p class="channels">Без обмежень по трафіку</p>
                    </div>
                    <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                </div>
                <div class="tv-plan-card">
                    <div class="tv-card-title">
                        <div class="plan-name">
                            <h3></h3>
                        </div>
                        <div class="price"><b>60</b> <span>грн/місяць</span></div>
                    </div>
                    <div class="plan-details">
                        <p class="channels">Статична IP-адреса</p>
                    </div>
                    <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Приватний сектор">
            <div class="internet-apartment">
                <div class="tv-plan-card">
                    <div class="tv-card-title">
                        <div class="plan-name">
                            <h3>до 35 Мбіт/с</h3>
                        </div>
                        <div class="price"><b>120</b> <span>грн/місяць</span></div>
                    </div>
                    <div class="plan-details">
                        <p class="channels">Без обмежень по трафіку</p>
                    </div>
                    <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                </div>
                <div class="tv-plan-card">
                    <div class="tv-card-title">
                        <div class="plan-name">
                            <h3>до 50 Мбіт/с</h3>
                        </div>
                        <div class="price"><b>160</b> <span>грн/місяць</span></div>
                    </div>
                    <div class="plan-details">
                        <p class="channels">Без обмежень по трафіку</p>
                    </div>
                    <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                </div>
                <div class="tv-plan-card">
                    <div class="tv-card-title">
                        <div class="plan-name">
                            <h3>до 100 Мбіт/с</h3>
                        </div>
                        <div class="price"><b>200</b> <span>грн/місяць</span></div>
                    </div>
                    <div class="plan-details">
                        <p class="channels">Без обмежень по трафіку</p>
                    </div>
                    <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                </div>
                <div class="tv-plan-card">
                    <div class="tv-card-title">
                        <div class="plan-name">
                            <h3>до 200 Мбіт/с</h3>
                        </div>
                        <div class="price"><b>270</b> <span>грн/місяць</span></div>
                    </div>
                    <div class="plan-details">
                        <p class="channels">Без обмежень по трафіку</p>
                    </div>
                    <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                </div>
                <div class="tv-plan-card">
                    <div class="tv-card-title">
                        <div class="plan-name">
                            <h3>до 300 Мбіт/с</h3>
                        </div>
                        <div class="price"><b>360</b> <span>грн/місяць</span></div>
                    </div>
                    <div class="plan-details">
                        <p class="channels">Без обмежень по трафіку</p>
                    </div>
                    <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                </div>
                <div class="tv-plan-card">
                    <div class="tv-card-title">
                        <div class="plan-name">
                            <h3>до 1000 Мбіт/с</h3>
                        </div>
                        <div class="price"><b>430</b> <span>грн/місяць</span></div>
                    </div>
                    <div class="plan-details">
                        <p class="channels">Без обмежень по трафіку</p>
                    </div>
                    <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                </div>
                <div class="tv-plan-card">
                    <div class="tv-card-title">
                        <div class="plan-name">
                            <h3></h3>
                        </div>
                        <div class="price"><b>60</b> <span>грн/місяць</span></div>
                    </div>
                    <div class="plan-details">
                        <p class="channels">Статична IP-адреса</p>
                    </div>
                    <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Для бізнесу">
            <div class="internet-bussiness">
                <mat-tab-group>
                    <mat-tab label="Тарифи для бізнесу">
                        <div class="bussiness-plans">
                            <div class="tv-plan-card">
                                <div class="tv-card-title">
                                    <div class="plan-name">
                                        <h3>до 20 Мбіт/с</h3>
                                    </div>
                                    <div class="price"><b>200</b> <span>грн/місяць</span></div>
                                </div>
                                <div class="plan-details">
                                    <p class="channels">Без обмежень по трафіку</p>
                                </div>
                                <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                            </div>
                            <div class="tv-plan-card">
                                <div class="tv-card-title">
                                    <div class="plan-name">
                                        <h3>до 30 Мбіт/с</h3>
                                    </div>
                                    <div class="price"><b>300</b> <span>грн/місяць</span></div>
                                </div>
                                <div class="plan-details">
                                    <p class="channels">Без обмежень по трафіку</p>
                                </div>
                                <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                            </div>
                            <div class="tv-plan-card">
                                <div class="tv-card-title">
                                    <div class="plan-name">
                                        <h3>до 50 Мбіт/с</h3>
                                    </div>
                                    <div class="price"><b>420</b> <span>грн/місяць</span></div>
                                </div>
                                <div class="plan-details">
                                    <p class="channels">Без обмежень по трафіку</p>
                                </div>
                                <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                            </div>
                            <div class="tv-plan-card">
                                <div class="tv-card-title">
                                    <div class="plan-name">
                                        <h3>до 100 Мбіт/с</h3>
                                    </div>
                                    <div class="price"><b>510</b> <span>грн/місяць</span></div>
                                </div>
                                <div class="plan-details">
                                    <p class="channels">Без обмежень по трафіку</p>
                                </div>
                                <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                            </div>
                            <div class="tv-plan-card">
                                <div class="tv-card-title">
                                    <div class="plan-name">
                                        <h3>до 200 Мбіт/с</h3>
                                    </div>
                                    <div class="price"><b>780</b> <span>грн/місяць</span></div>
                                </div>
                                <div class="plan-details">
                                    <p class="channels">Без обмежень по трафіку</p>
                                </div>
                                <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                            </div>
                            <div class="tv-plan-card">
                                <div class="tv-card-title">
                                    <div class="plan-name">
                                        <h3>до 250 Мбіт/с</h3>
                                    </div>
                                    <div class="price"><b>960</b> <span>грн/місяць</span></div>
                                </div>
                                <div class="plan-details">
                                    <p class="channels">Без обмежень по трафіку</p>
                                </div>
                                <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                            </div>
                            <div class="tv-plan-card">
                                <div class="tv-card-title">
                                    <div class="plan-name">
                                        <h3></h3>
                                    </div>
                                    <div class="price"><b>60</b> <span>грн/місяць</span></div>
                                </div>
                                <div class="plan-details">
                                    <p class="channels">Статична IP-адреса</p>
                                </div>
                                <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                            </div>
                        </div>
                    </mat-tab>
                    
                    <!-- Гарантована швидкість -->
                    <mat-tab label="Гарантована швидкість">
                        <div  class="bussiness-speed">
                            <div class="tv-plan-card">
                                <div class="tv-card-title">
                                    <div class="plan-name">
                                        <h3>20 Мбіт/с</h3>
                                    </div>
                                    <div class="price"><b>240</b> <span>грн/місяць</span></div>
                                </div>
                                <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                            </div>
                            <div class="tv-plan-card">
                                <div class="tv-card-title">
                                    <div class="plan-name">
                                        <h3>50 Мбіт/с</h3>
                                    </div>
                                    <div class="price"><b>600</b> <span>грн/місяць</span></div>
                                </div>
                                <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                            </div>
                            <div class="tv-plan-card">
                                <div class="tv-card-title">
                                    <div class="plan-name">
                                        <h3>100 Мбіт/с</h3>
                                    </div>
                                    <div class="price"><b>960</b> <span>грн/місяць</span></div>
                                </div>
                                <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                            </div>
                            <div class="tv-plan-card">
                                <div class="tv-card-title">
                                    <div class="plan-name">
                                        <h3>200 Мбіт/с</h3>
                                    </div>
                                    <div class="price"><b>1650</b> <span>грн/місяць</span></div>
                                </div>
                                <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                            </div>
                            <div class="tv-plan-card">
                                <div class="tv-card-title">
                                    <div class="plan-name">
                                        <h3>500 Мбіт/с</h3>
                                    </div>
                                    <div class="price"><b>4500</b> <span>грн/місяць</span></div>
                                </div>
                                <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                            </div>
                            <div class="tv-plan-card">
                                <div class="tv-card-title">
                                    <div class="plan-name">
                                        <h3>1000 Мбіт/с</h3>
                                    </div>
                                    <div class="price"><b>8000</b> <span>грн/місяць</span></div>
                                </div>
                                <button class="subscribe-button" (click)="scrollTo('contacts')">Підключити</button>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>