<div class="connect-container">
    <div class="connect-title">
        <p>Як відбувається підключення до мережі <b>IPLINK</b></p>
    </div>
    <div class="connect-block">
        <div class="connect-card">
            <div class="connect-img-block">
                <img src="../../../../assets/contact-us.png" alt="">
            </div>
            <div class="connect-describe_block">
                <p>Крок 1</p>
                <p>Зв'язатись з нами по телефону або за формою нижче.</p>
            </div>
        </div>
        <div class="connect-card">
            <div class="connect-img-block">
                <img src="../../../../assets/contact-center.png" alt="">
            </div>
            <div class="connect-describe_block">
                <p>Крок 2</p>
                <p>Наші спеціалісти протягом <b>10</b>-ти робочих днів підключать вам інтернет.</p>
            </div>
        </div>
        <div class="connect-card">
            <div class="connect-img-block">
                <img src="../../../../assets/laptop.jpg" alt="">
            </div>
            <div class="connect-describe_block">
                <p>Крок 3</p>
                <p>Відкрийте для себе новий світ разом з <b>IPLINK!</b></p>
            </div>
        </div>
    </div>
</div>
