<div class="advantages-container">
    <div class="advantages-center-block">
        <div class="left-block">
            <h1>Чому обирають <b>IPLINK</b></h1>
            <p class="left-block-text">Високоякісні телекомунікаційні послуги у Львові через сучасну оптоволоконну мережу і серверну інфраструктуру для програмного забезпечення.</p>
        </div>
        <div class="right-block">
            <div class="advantage-option">
                <span class="material-symbols-outlined">
                    speed
                </span>
                <div class="advantage-text">
                    <h1>Висока швидкість</h1>
                    <p>Наша широкосмугова мережа дозволяє насолоджуватися великою швидкістю завантаження та відвантаження.</p>
                </div>
            </div>
            <div class="advantage-option">
                <span class="material-symbols-outlined">
                    verified_user
                </span>
                <div class="advantage-text">
                    <h1>Безпека даних</h1>
                    <p>Ми дбаємо про конфіденційність та безпеку даних наших клієнтів, забезпечуючи їм спокій та відчуття захищеності.</p>
                </div>
            </div>
            <div class="advantage-option">
                <span class="material-symbols-outlined">
                    wifi
                </span>
                <div class="advantage-text">
                    <h1>Надійність</h1>
                    <p>Ми гарантуємо стабільне та безперебійне підключення до Інтернету, яке завжди доступне для наших клієнтів.</p>
                </div>
            </div>
            <div class="advantage-option">
                <span class="material-symbols-outlined">
                    savings
                </span>
                <div class="advantage-text">
                    <h1>Проста система ціноутворення</h1>
                    <p>Ми пропонуємо чітке та прозоре ціноутворення, де клієнти платять лише за використані послуги.</p>
                </div>
            </div>
        </div>
    </div>
</div>