.advantages-container {
    height: 100vh;
    background-color: #003b5d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.advantages-center-block {
    width: 100%;
    height: 100%;
    display: flex;
}

.left-block, .right-block {
    height: 100%;
    background-color: #00baef;
}

.left-block {
    width: 40%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    color: #fff;
    background-color: #003b5d;
}

.left-block h1 {
    font-size: 40px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    padding: 5px 10px;
    text-align: center;
    width: 90%;
}

.left-block h1 b {
    color: #00baef;
}

.left-block p {
    font-size: 20px;
    display: inline-block;
    width: 90%;
    text-indent: 20px;
    line-height: 30px;
    text-align: center;
}

.right-block {
    width: 60%;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #003b5d;
}

.advantage-option {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 10px 0;
    width: 100%;
}

.advantage-option span {
    /* height: 100%; */
    margin-right: 15px;
    font-size: 40px;
    cursor: pointer;
    border: 3px solid #003b5d;
    padding: 10px;
    border-radius: 50%;
}

.advantage-option span:hover {
    background-color: #003b5d;
    color: #00baef;
}

.advantage-text {
    display: flex;
    flex-direction: column;

}

.advantage-text h1 {
    font-weight: bold;
    font-size: 25px;
}

.advantage-text p {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
}

@media screen and (max-width: 1535px) {
    .advantages-container {
        padding: 100px 50px;
    }

    .advantages-center-block {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .advantages-center-block .left-block {
        height: 400px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .advantages-center-block .left-block h1, .advantages-center-block .left-block p {
        width: 75%;
    }

    .advantages-center-block .right-block {
        width: 75%;
    }
}

@media screen and (max-width: 1200px) {
    .advantages-center-block .right-block {
        width: 95%;
    }
}

@media screen and (max-width: 890px) {
    .left-block .left-block-text{
        display: none;
    }

    .advantages-center-block .left-block {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 750px) {
    .advantages-center-block .left-block h1 {
        line-height: 55px;  
        margin-bottom: 0;
    }

    .advantages-container {
        padding: 50px 15px;
    }
}

@media screen and (max-width: 710px) {
    .advantages-container {
        padding: 30px 10px;
    }

    .advantages-center-block .left-block h1 {
        height: 100px;
        width: 100%;
    } 

    .advantages-center-block .left-block {
        height: fit-content;
        /* margin-bottom: 20px; */
    }

    .advantage-option span {
        font-size: 30px;
    }

    .advantage-text h1 {
        font-size: 20px;
    }

    .advantage-text p {
        font-size: 15px;
    }
}

@media screen and (max-width: 510px) {
    .advantages-container {
        max-height: 100vh;
    }

    .advantages-center-block .left-block h1 {
        height: fit-content;
        font-size: 30px;    
        padding: 0;
    }

    .advantages-center-block .left-block {
        margin-bottom: 0;
    }

    .right-block {
        padding: 10px 20px;
    }

    .advantage-text h1 {
        font-size: 17px;
        margin-bottom: 7px;
        line-height: 20px;
    }

    .advantage-text p {
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0;
    }
}