<div class="contacts-container" id="contacts">
    <div class="application">
        <p>Залишити заявку на підключення</p>
        <form class="feedback-form">
            <div class="left-form">
                <div class="form-group">
                    <label for="first-name">Ім'я</label>
                    <input type="text" id="first-name" name="first-name" required>
                </div>
            
                <div class="form-group">
                    <label for="last-name">Прізвище</label>
                    <input type="text" id="last-name" name="last-name" required>
                </div>
            
                <div class="form-group">
                    <label for="phone">Телефон</label>
                    <input type="tel" id="phone" name="phone" required>
                </div>
            
                <div class="form-group">
                    <label for="email">Електронна пошта</label>
                    <input type="email" id="email" name="email" required>
                </div>
            </div>
            <div class="right-form">
                <div class="form-group">
                    <label for="address">Адреса підключення інтернету</label>
                    <textarea id="address" name="address" rows="4" required></textarea>
                </div>
                <div class="form-img">
                    <p>Зателефонувати нам</p>
                    <p>+380 (99) 999-99-99</p>
                    <a href="tel:+380 (99) 999-99-99" class="call-icon" type="button">
                        <span class="material-symbols-outlined">
                            call
                        </span>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <app-footer></app-footer>
</div>