.banner-container {
    height: 90vh;
    background-image: url('../../../../assets/banner-img.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.banner-img-container img {
    height: 600px;
}

.title-container {
    margin-left: 60px;
    color: #fff;
    font-size: 100px;
    font-weight: bold;
}

.title-container h1 {
    font-size: 110px;
    text-shadow: -4px -4px 6px #003b5d;
    line-height: 100px;
    margin: 0 0 10px 0;
}

.title-container h3 {
    font-size: 40px;
    text-shadow: -4px -4px 6px #003b5d;
    margin-bottom: 35px;
    /* padding-left: 5px; */
    font-weight: 500;
}

.banner-contacts-phone {
    margin-bottom: 15px;
}

.banner-contacts-phone,
.banner-contacts-mail {
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    color: #003b5d;
}

.banner-contacts-phone>span:nth-child(1),
.banner-contacts-mail>span:nth-child(1) {
    margin-right: 10px;
}

.banner-contacts-phone span,
.banner-contacts-mail span {
    font-size: 30px;
}

.socials-icons {
    height: 70px;
    width: 100%;
    display: flex;
}

.socials-icons svg {
    fill: #003b5d;
    height: 40px;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.socials-icons svg:nth-child(1) {
    margin-right: 30px;
}

.banner-btn {
    position: absolute;
    bottom: 40px;
    left: calc(50% - 96px);
    padding: 10px 20px;
    border: 1px solid #003b5d;
    border-radius: 5px;
    background-color: rgba(0, 59, 93, 0.5);
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}

.banner-btn:hover {
    bottom: 41px;
}

@media screen and (max-width: 930px) {
    .banner-contacts-phone,
    .banner-contacts-mail{
        text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
    }
}

@media screen and (max-width: 550px) {
    .title-container {
        margin-left: 20px;
    }

    .title-container h1 {
        font-size: 60px;
        line-height: 60px;
    }

    .title-container h3 {
        font-size: 30px;
    }

    .banner-contacts-phone span, .banner-contacts-mail span{
        font-size: 20px;
    }

    .socials-icons svg:nth-child(1) {
        margin-right: 10px;
    }

    .socials-icons svg {
        height: 30px;
    }

    .banner-btn {
        font-size: 13px;
        padding: 7px 12px;
        left: calc(50% - 70px);
    }

    .socials-icons svg {
        fill: #fff;
    }
}

@media screen and (max-width: 350px) {
    .banner-container {
        height: 91vh;
    }

    .title-container h1 {
        font-size: 45px;
        line-height: 45px;
    }

    .title-container h3 {
        font-size: 23px;
        margin-bottom: 20px;
    }

    .banner-contacts-phone span, .banner-contacts-mail span{
        font-size: 15px;
    }

    .banner-contacts-phone {
        margin-bottom: 0;
    }

    .banner-btn {
        font-size: 11px;
        left: calc(50% - 62px);
    }
}